<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
         <style>
           .navbar{
            display: flex;
            align-items: center;
            padding: 20px;
            }
            nav{
                flex: 1px;
                text-align: right;
            }
            nav ul{
                display: inline;
                list-style-type: none;
            }
            nav ul li{
                display: inline-block;
                margin-right: 20px;
            }
            .btn:hover{
                background: #563434;
            }
            .header{
                background: radial-gradient(#fff);
            }
            .header .row{
                margin-top: 70px;
            }
            ul li:hover {
                transform: translateY(-2px);
            }
            body{
             background-image: url("/img1.jpeg");
             background-position: top;
            }

        </style>
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>

    <body>
            <div class="header">
    <div class="container">
        <div class="navbar">
            <nav>
                <ul>
                    <li><a href="{{ path('home') }}">Acceuil </a></li>
                    <li><a href="{{ path('annonce_index') }}">Voir annonces</a></li>
                    <li><a href="{{ path('reservation_index') }}">Réserver</a></li>
                    <li><a href="{{ path('app_login') }}">Connexion</a></li>
                    <li><a href="{{ path('app_register') }}">S'incrire</a></li>
                </ul>
            </nav>
        </div>
    </div>
        {% block body %}{% endblock %}
    </body>
</html>
